{% block form_errors %}
    {% spaceless %}
        {% if errors|length %}
            <span class="invalid-feedback d-block">
                {% for error in errors %}
                    <span class="d-block">
                        <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                    </span>
                    <span class="form-error-message">{{ error.message }}</span>
                {% endfor %}
            </span>
        {% endif %}



    {% endspaceless %}
{% endblock %}
{#<email></email>#}